/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Valley Sans", sans-serif;
  src: url(../type/ValleySans-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Valley Sans", sans-serif;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

html {
  color-scheme: light dark;
}

html:has([value="light"]:checked) {
  color-scheme: light;
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
}
