/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;

  --color-cyan: light-dark(darkcyan, cyan);
  --color-magenta: light-dark(darkmagenta, magenta);
  --color-yellow: light-dark(goldenrod, yellow);
  --color-blue: light-dark(rgb(130, 184, 255), #7b75ea);
  --color-dark: #07024d;
  --color-light: #a6cfff;

  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-text: var(--color-dark), light-dark(var(--color-light));
  --accent-color: rgb(16, 0, 110);
  --border-width: 0.1em;
}

body {
  font-family: "Valley Sans", sans-serif;
  background: var(--color-background);
}

ul {
  display: flex;
  list-style: none;
  margin: 3em 6em;
  width: fit-content;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--color-blue);
  color: white;
}

h1 {
  margin: 2em 2em;
}

.otters-achtergrond-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
  grid-auto-flow: dense;
  margin: 3em 6em;
}

article {
  background-color: var(--color-blue);
  border-radius: 20px;
}

article a {
  text-decoration: none;
  color: rgb(0, 0, 120);
}

h3 {
  margin: 1em;
}

p {
  margin: 1em;
}

.Rivierotter-beeld {
  flex: 1;
}

.intro-beeld {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 4em auto;
}

.intro-beeld img {
  width: 180%;
  height: auto;
  display: block;
  border-radius: 6px;
  margin-left: -120px;
}

.intro-tekst {
  flex: 1;
}

.intro-tekst h2 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .intro-beeld {
    flex-direction: column;
  }

  .intro-beeld img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .intro-tekst {
    flex: 1;
    margin: 2em;
  }

  .intro-tekst h2 {
    margin-top: 0;
  }
}
