/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Valley Sans", sans-serif;
  background-color: lightblue;
  margin: 3em 6em;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkblue;
  color: white;
}

.achtergrond-vorm {
  position: flex;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 60vw;
  background: linear-gradient(45deg, #4292c6, #6baed6);
  border-radius: 43% 57% 41% 59% / 57% 45% 55% 43%;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

article {
  background-color: lightsteelblue;
}

h3 {
  margin: 1em;
}

p {
  margin: 1em;
}
